{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} | Tekpoetics</title>
    {% else %}
        <title>Tekpoetics</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'core/default.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav" class="grid_12" >
        
        <ul> 
            <li><a href="{% url 'home' %}" class="{% if title == 'Home' %} selected {% endif %}">Home</a></li>
            <li><a href="{% url 'releases' %}" class="{% if title == 'Releases' %} selected {% endif %}">Releases</a></li>
            <li><a href="#" class="{% if title == 'Artists' %} selected {% endif %}">Artists</a></li>
            <li><a href="#" class="{% if title == 'Events' %} selected {% endif %}">Events</a></li>
            <li><a href="#" class="{% if title == 'Contact Us' %} selected {% endif %}">Contact Us</a></li>
        </ul>
    </nav>
    <nav id="navicon" class="grid_12"><a href="#"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a></nav>
{% comment %} ######################################################## {% endcomment %}

    <main class="grid_12">
        {% block maincontent %}

        {% endblock maincontent %}
        
        <div class="main_right_1">
            <div class="mail_and_user">
                <div id="main_mail"  >
                    <a href="mailto:tekpoetics@gmail.com">
                        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
                <label class="auth_link login_link" for="login_l">Login</label>
                <input type="radio" name="auth" id="login_l" >
                
                <label class="auth_link logout_link" for="logout_l">Logout</label>
                <input type="radio" name="auth" id="logout_l">
                <div class="auth_go">
                    <a style="width:100%" href="#"><img style="width: 100%;" src="{% static 'core/auth_botton_1.png' %}" alt="go to login page"></a>
                </div>
                <div class="auth_knob">
                    <img src="{% static 'core/auth_knob.png' %}" alt="">
                </div>
            </div>
        </div>
    </main>
    

{% comment %} ######################################################## {% endcomment %}

    <footer id="main_footer" class="grid_12">
        <div id="social_media" class="grid_l3_1">
            <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>

            
        </div>
        <div id="footer_about" class="grid_l4_2">
            <h1>TEKPOETICS</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed vero veniam deleniti doloribus laudantium, autem deserunt ea, laboriosam accusantium nostrum quod? Quo minus officia optio reiciendis dicta ullam voluptatem magni tenetur, nisi neque. Dignissimos magni, asperiores iusto commodi esse explicabo quia, vel voluptas nobis alias facere atque corrupti cupiditate dolorem voluptate aliquid laudantium? Soluta minus exercitationem at ab nemo ullam corporis nam tenetur, inventore expedita a fuga perferendis voluptatibus sapiente illo alias natus repellendus cupiditate cumque eaque eligendi suscipit? Reprehenderit harum quasi illo tempore qui. Consequatur tempore ratione eos aut autem nulla libero, dolor necessitatibus, laudantium quam maiores voluptates omnis.</p>
        </div>
    </footer>
</body>
</html>